.form-container {
  background-image: url("../assets/bg.png");
  width: 50%;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  background-position: 40%;
  padding: 20px;
  box-sizing: border-box;
}
.custom-toast-text{
  color: red !important;
}

@media (min-width: 768px) {
  .form-container {
    background-image: none;
    width: 400px;
    margin: 0 auto;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .form-container {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .form-container {
    width: 800px;
  }
}

.input-container {
  display: flex;
  outline: none;
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}

.input-container input {
  padding: 0 0 0 55px;
  font-size: large;
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
  color: #c7c7cd;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid black;
}

.btn {
  background-color: #35c496;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: large;
  margin-top: 30px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 1;
}

#aff-network-h2 {
  text-align: center;
  font-family: "Agency FB", arial;
  font-weight: bold;
  color: #fba127;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.radio-container {
  display: flex;
  color: #a0a0a0;
  align-items: center;
}

.link-container {
  margin-left: auto;
}

.link-container>a {
  color: #a0a0a0;
  text-decoration: none;
}

.signUpBtn {
  border: 2px solid #35c496;
  background-color: transparent;
  padding: 10px 20px;
  color: #ffffff;
  font-size: smaller;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border-radius: 5px;
}

.signUpBtn:hover {
  background-color: #35c496;
}