.popup-container {
  color: white;
  text-transform: uppercase;
  width: 45%;
  height: 75%;
  padding: 10px 30px;
  background: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media (max-width: 768px) {
  .popup-container {
    width: 80%;
  }
}

.HeadLogo {
  border-radius: 1000000px;
  width: 10%;
}

.topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h1,
.h2 {
  margin: 0;
  padding: 0;
}

.h2 {
  margin-left: auto;
}

.metamask-logo {
  width: 50px;
}

.tableRow {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* margin-bottom: 10px; */
}

.tableRow > img {
  /* margin-right: 10px; */
}

table {
  margin: 0 auto;
}

.connectBtn {
  color: white;
  border: 6px solid rgb(226, 150, 10);
  border-radius: 50px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px !important;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* width: 150px; */
}

.connectBtn:hover {
  background-color: #ffffff;
  color: #000000;
}

#chatBtn {
  position: relative;
  padding-left: 25px;
  margin-top: 70px;
  display: flex;
  align-items: center;
}

#chatBtn > a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

#chatBtn > a:before {
  content: ' ';
  display: block;
  font-size: 14px;
}

#chat-Btn {
  position: relative;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

#chat-Btn > a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}

#chat-Btn > a:before {
  content: ' ';
  display: block;
  font-size: 10px;
}

@media (max-width: 900px) {
  #chatBtn{
    padding-left: unset !important;
    justify-content: space-between !important;
    font-size: 17px !important;
  }
  .metamask-logo{
    width: 40px !important;
  }
  .connectBtn{
    font-size: 20px !important;
  }
  .metamask-main-div{
    padding: unset !important;
  }
  .meta-mask{
    font-size: 20px !important;
  }
  
}

@media (max-width: 500px) {
  .popup-container{
    height: 60% !important;
  }
  .hopiumbet-logo{
    height: 70px !important;
  }
  .support-wallet{
    font-size: 17px !important;
  }
  .metamask-logo{
    width: 35px !important;
  }
  .connectBtn{
    font-size: 16px !important;
  }
  .metamask-main-div{
    padding: unset !important;
  }
  #chatBtn{
    font-size: 16px !important;
    margin-top: 50px !important;
  }
  .meta-mask{
    font-size: 16px !important;
  }
  .metamask-main-div{
    margin-top: 50px !important;
  }
  .close-btn{
    margin-top: 50px !important;
  }
}
