#coinImg {
  width: 100%;
}

.flip-btn {
  position: absolute;
  left: 220px;
  background-color: transparent;
  color: white;
  padding: 15px 28px;
  font-size: large;
  margin-left: 125px;
  margin-top: 10px;
}

.flip-btn:hover {
  background-color: yellow;
  color: black;
}

.coin-flip {
  position: relative;
  top: -320px;
  margin: 0 auto;
  width: 320px;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 320px;
  top: -320px;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.side-a {
  content: url('../assets/alien-coin.png');
  color: white;
  text-align: center;
}

.side-b {
  content: url('../assets/Head_coin.png');
  color: white;
  text-align: center;
}

.side-c {
  content: url('../assets//coinflip.gif');
  color: white;
  text-align: center;
}

#coin {
  transform-style: preserve-3d;
  margin-top: 20px;
  transition: -webkit-transform 1s ease-in;
  -webkit-transition: -webkit-transform 1s ease-in;
  -moz-transition: -webkit-transform 1s ease-in;
  -ms-transition: -webkit-transform 1s ease-in;
  -o-transition: -webkit-transform 1s ease-in;
}

#coin div {
  position: absolute;
  backface-visibility: hidden;
}

.center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

#coin.heads {
  -webkit-animation: flipHeads 2s ease-in forwards;
  -moz-animation: flipHeads 2s ease-out forwards;
  -o-animation: flipHeads 2s ease-in forwards;
  animation: flipHeads 1s 0s linear infinite;
}

#coin.tails {
  -webkit-animation: flipTails 2s ease-out forwards;
  -moz-animation: flipTails 2s ease-out forwards;
  -o-animation: flipTails 2s ease-out forwards;
  animation: flipTails 1s 0s linear infinite;
}

@keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(360deg);
  }
}

@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(360deg);
  }
}

.connect-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.button-row {
  display: flex;
  justify-content: center; /* or any other desired value */
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 0;
}

.stop-btn {
  background-color: transparent;
  color: white;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin: 0 10px; /* Add some spacing between buttons */
  transition: opacity 0.3s ease-in-out;
}

.popup-message {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: opacity 0.3s ease-in-out;
}

.popup-message:hover {
  opacity: 0.9;
}

.popup-message p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.popup-message button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.popup-message button:hover {
  background-color: #1565c0;
}
